body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    text-align: center;
}

button {

    padding: 1%;
    margin: 5px;
}

h1 {
    border-style: ridge;
}

button:hover {
    background-color: green;
    color: white;
}

h4 {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}

hr {
    width: 80%;
    border: 1px solid red;
}

input {
    padding: 1%;
    font-size: 1.5em;
}

h2 {
    font-style: italic;
}